<h2>Library Reports</h2>

<table class="table table-bordered">

    <tr>
        <th>Total Books</th>
        <td>@ViewBag.TotalBooks</td>
    </tr>

    <tr>
        <th>Total Students</th>
        <td>@ViewBag.TotalStudents</td>
    </tr>

    <tr>
        <th>Total Issued Books</th>
        <td>@ViewBag.TotalIssuedBooks</td>
    </tr>

    <tr>
        <th>Total Returned Books</th>
        <td>@ViewBag.TotalReturnedBooks</td>
    </tr>

    <tr>
        <th>Total Racks</th>
        <td>@ViewBag.TotalRacks</td>
    </tr>

</table>